.bar {
  background: #dee6f5;
  border-radius: 12px;
  height: 6px;
  width: 156px;
  margin-top: 7px;
  --bs-progress-height: 6px;
}

.progress {
  border-radius: 12px 0px 0px 12px;
  margin-left: 0;
  height: 6px;
  background-color: rgb(71, 173, 34);
  background-color: var(--bs-success-bg);
  --bs-progress-height: 6px;
  --bs-progress-bg: rgb(71, 173, 34);
}

.progress-stacked {
  border-radius: 12px 0px 0px 12px;
  margin-left: 0;
  height: 6px;
  background-color: rgb(71, 173, 34);
  --bs-progress-bg: rgb(71, 173, 34);
  --bs-progress-height: 6px;
}
